:root  > * {
  --md-primary-fg-color: #1373D9;
  --md-primary-fg-color--light: #F0F8FF;
  --md-primary-fg-color--dark: #19518F;

  --md-accent-fg-color: #175FB6;
}
.md-header {
  background-color: var(--md-default-bg-color);
  color: var(--md-default-fg-color);
  box-shadow: none;
  border-bottom: 1px solid #e5e7eb;
}

.md-header__topic:first-child {
  font-weight: normal;
}

.md-search__input + .md-search__icon {
  color: #6a6e77;
}

.md-search__input::placeholder {
  color: #6a6e77;
  font-size: 0.8em;
}

.md-search__form {
  background-color: var(--md-default-bg-color);
  color: var(--md-default-fg-color);
  border: 1px solid #e5e7eb;
  border-radius: 0.375rem;
}

.md-footer-meta {
  display: none;
}

img.circle {
  border-radius: 50%;
  object-fit: cover;
}

/* Members list special styles */
.members-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 450px);
  gap: 1rem;
  max-width: calc(900px + 1rem);
}

.members-list > .member img {
  height: 150px;
  display: block;
  margin: 0 auto 10px;
}


/* Make detail elements on motions page blend in better */
[dir="ltr"] .md-typeset summary {
  padding-left: 10px;
}
[dir="rtl"] .md-typeset summary {
  padding-right: 10px;
}

.md-typeset summary::before {
  background: none;
  mask-image: none;
  -webkit-mask-image: none;
  back
}

.md-typeset summary {
  background: none;
  font-weight: normal;
}

.md-typeset details {
  border: 0;
  background: none;
}
.md-typeset details:focus-within {
  box-shadow: none;
}

.md-typeset details[open] {
  border: 1px solid black;
  min-width: 21em;
}

/* Save some space with the outcome column in the motions table */
#council-motion-history ~ div > div > table > tbody > tr > td:first-child {
  writing-mode: sideways-lr;
  text-align: center;
  padding: 0;
  padding-block-start: 1em;
  text-transform: uppercase;
}

#council-motion-history ~ div > div > table > tbody > tr.approved > td:first-child {
  color: green;
}
#council-motion-history ~ div > div > table > tbody > tr.failed > td:first-child {
  color: red;
}

#council-motion-history ~ div > div > table > tbody > tr > th:first-child {
  max-width: 1em;
  min-width: 0;
  opacity: 0;
  padding: 0;
}
